/* attributi globali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenitore{
    width: 1170px;
    margin: auto;
}

.row{
    text-align: center; 
    margin: 40px 0;
}

.prodotto{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.immagine1{
    display: block;
    height: 400px;
    width: 300px;
}

.immagine2{
    display: none;
    height: 400px;
    width: 300px;
}

.prodotto:hover .immagine1{
    display: none;
}

.prodotto:hover .immagine2{
    display: block;
}

.heart{
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1;
}

.sconto{
    position: absolute;
    bottom: 65px;
    left: 0px;
    z-index: 1;
    width: 45px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: red;
    text-align: center;
}

.sostenibile{
    position: absolute;
    bottom: 65px;
    left: 50px;
    z-index: 1;
    width: 90px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: green;
    text-align: center;
}

.sostenibile2{
    position: absolute;
    bottom: 65px;
    left: 0px;
    z-index: 1;
    width: 90px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: green;
    text-align: center;
}

.testo{
    text-align: left;
}

.prezzo{
    color: red;
}